= simple_form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-8'} do |f|
  .form-group
    .col-sm-6
      = f.input :title, input_html:{ class: 'form-control'}
  .form-group
    .col-sm-6
      = f.label :image, class: 'control-label'
      = f.file_field :image, class: 'form-control'
  .form-group.col-sm-12
    = f.input :body, as: :summernote, input_html:{ class: 'form-control'}
  .form-group
    .col-sm-6
      = f.button :submit, class: 'btn btn-primary'
