%h1
  Random posts
.col-md-12
  - @entities[:recommended].each do |article|
    .col-md-6
      .content-block.blog-post
        .row
          .col-md-12
            = image_tag article.image, class: 'post-attach-img'
            %h2
              = article.title
            .post-content
              = truncate(ActionView::Base.full_sanitizer.sanitize(article.body) , :length => 500, :omission => '...')
              .post-read-more.pull-right
                = link_to  'Read more >>>', article_path(article)
