.row
  .col-md-12
    .blog-posts-list
      - @entities.each do |entity|
        .content-block.blog-post
          %h2
            = entity.title
          .row
            .col-md-12
              = image_tag entity.image, class: 'post-attach-img'
              .post-content
                = truncate(ActionView::Base.full_sanitizer.sanitize(entity.body) , :length => 500, :omission => '...')
                .post-read-more.pull-right
                  = link_to  'Read more >>>', article_path(entity)
      = paginate @entities, :theme => 'bootstrap'
