.row
  .col-md-12
    .blog-posts-list
      .content-block.blog-post
        %h2
          = @entities[:current].title
        .row
          .col-md-12
            = image_tag @entities[:current].image, class: 'post-attach-img'
            .post-content
              = @entities[:current].body.html_safe
            .post-view-counter
              Viewed #{@entities[:current].impressionist_count(filter: :ip_address)} times
        .line         
        = render 'recommended'
