a{
  color: darken($green , 10);

  &:hover{
    color: darken($green , 20);
  }
}

.progress-bar{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
  border-radius: 4px;
  padding: 6px 20px
}

.btn-primary{
  background-color: #0089ff;
  border: none !important;

  &:hover, &:active, &:focus{
    background-color: #0089ff;
    border: none !important;
  }
}

.btn-danger{
  background: #0089ff;
  border: none !important;
  color: #ffffff;
  padding: 6px 22px;

  &:hover, &:active, &:focus{
    background: #0089ff;
    border: none !important;
    color: #ffffff;
  }
}


.btn-success{
  @include background-image(linear-gradient(#5cb85c, #238c2d));

  &:hover{
    @include background-image(linear-gradient(#238c2d, #5cb85c));
  }
}

.btn-red{
  color: #fff;
  font-weight: 700;
  padding: 12px 30px 9px;
  background: $orange-light;
  border: none;
  border-bottom: 2px solid $orange-dark;

  &:hover{
    color: #fff;
    border-color:$orange-dark-hover;
    background: $orange-light-hover;
  }
  &:active, &:focus{
    color: #fff;
  }
}

.btn-warning{
  @include background-image(linear-gradient($g-orange-light, $g-orange-dark));
  color: #ffffff;
  padding: 6px 22px;

  &:hover{
    @include background-image(linear-gradient($g-orange-dark, $g-orange-light));
    color: #ffffff;
  }
}


.btn-add{
  $color: #6ca6c6;
  background-color: $color;
  border-color: darken($color , 30);
  color: #ffffff;
  @include background-image(linear-gradient($color, darken($color , 30)));

  &:hover{
    color: #ffffff;
    @include background-image(linear-gradient( darken($color , 30), $color));
  }
}

.btn-next, .btn-orange{
  background-color: $g-orange-light;
  @include background-image(linear-gradient($g-orange-light, $g-orange-dark));
  color: #ffffff;
  padding: 6px 22px;

  &:hover{
    @include background-image(linear-gradient($g-orange-dark, $g-orange-light));
    color: #ffffff;
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 2;
  color: white;
  background-color: #2aac85;
  border-color: #2aac85;
  cursor: default;
}

.pagination > li > a, .pagination > li > span {
  color: #2aac85;
}

.bg-info, .bg-warning{
  padding: 10px;
  margin: 0;
}

.wide{
  width: 200%;
  margin-left: -50%!important;
  padding-left: 50%!important;
  padding-right: 50%!important;
}

.table-striped > tbody > tr:nth-child(odd){
  background-color: darken(#f1f8f8, 3);
}

.alert{
  ul{
    padding-left: 20px;
  }
}
