
html body {
  background-color: white;
  margin:0;
  padding:0;
  height:100%;

  .wrapper {
    min-height: 100%;
    position: relative;

    .header {
      background-color: $bg-black;
      height: 100px;
      width: 100%;
      color: white;
      line-height: 100px;
      font-size: 18px;

      .name {
        a {
          color: wheat;
        }
      }
      .state {
        text-align: right;
        position: relative;

        .name a{
          color: white;
          margin-right: 10px;
        }
      }
    }

    .content{
      padding-bottom:50px;
      padding-top: 20px;
    }
  }
}
