.container
  .row
    .col-sm-offset-3.col-sm-6
      .col-sm-offset-3
        %h2 Sign in
  .row
    .col-sm-offset-3.col-sm-6
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'}) do |f|

        .form-group
          = f.label :email, :class => 'col-sm-3 control-label'
          .col-sm-9
            = f.email_field :email, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :password, 'Password', :class => 'col-sm-3 control-label'
          .col-sm-9
            = f.password_field :password, autocomplete: "off", :class => 'form-control'

        .form-group
          .col-sm-offset-3.col-sm-9
            .checkbox
              = f.label :remember_me do
                = f.check_box :remember_me
                Remember Me

        .form-group
          .col-sm-offset-3.col-sm-9
            = f.submit "Sign in", :class => 'btn btn-primary'
  
