$base-font-size: 12px !default;
$base-line-height: 1.3 !default;
$rhythm-unit: "rem" !default;
$base-font-family: SegoeUIRegular, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
// $h1-font-size: 4    * $base-font-size !default;
// $h2-font-size: 3.2  * $base-font-size !default;
// $h3-font-size: 1.75 * $base-font-size !default;
// $h4-font-size: 1    * $base-font-size !default;
// $h5-font-size: 0.83 * $base-font-size !default;
// $h6-font-size: 0.67 * $base-font-size !default;

/* color */
$background: #19323e;

$white: #ffffff;
$green: #00094a;
$red: #f05426;
$orange-light: #fc5f45;
$orange-dark: #e2553e;
$orange-light-hover: #fc725b;
$orange-dark-hover: #e26652;
$g-orange-light: #faa61a;
$g-orange-dark: #f26622;
$g-red-light: #ff0000;
$g-red-dark: #8c0000;

$g-green-light: #1a1a1a;
$g-green-dark: darken($g-green-light, 10);

$bg-black: #1a1a1a;
$light-blue: #00aeef;
$g-blue-dark: #006fa9;
$black: #000000;
$grey: #303030;
$blue: #0089ff;
$text-color: #404040;
$text--light-color: #808080;


// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$border-radius: 10px;
