@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
html, body{
  background-color: #fafafa;

  .site-header{
    background-color: #fff;
    text-align: center;
    height: 77px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0;
    margin: 0;
  }

  .main-menu{
    padding: 26px 40px;
    width: 100%;

    li{
      width: 30%;
      float: left;
      list-style-type: none;

      a{
        font-size: 18px;
        color: #363636;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .blog-post{
    padding-bottom: 50px;

    .post-attach-img{
        max-width: 100%;
        min-width: 100%;
    }

    .post-content{
      padding-top: 25px;
    }

    .post-view-counter{
      width: 130px;
      background: darkblue;
      color: white;
      padding: 10px;
      font-weight: bold;
      margin-left: 1px;
    }

    .post-read-more{
      background-color: black;
      margin-top: 50px;
      padding: 10px;
      a{
        color: white;
      }
      a:hover{
        text-decoration: none;
        color: white;
      }
    }

    .line{
      border-bottom: solid 1px #D3D3D3;
      margin: 20px 0 20px 0;
    }
  }
}
