= simple_form_for [:admin, @entity], html: { class: 'form-horizontal col-sm-offset-2 col-sm-6'} do |f|

  = render "admin/general/form_errors",  object:  @entity

  .form-group
    = f.input :email, input_html:{ class: 'form-control'}
  .form-group
    = f.input :password, input_html:{ class: 'form-control'}
  .form-group
    = f.input :password_confirmation, input_html:{ class: 'form-control'}
  .form-group
    = f.button :submit, class: 'btn btn-primary'
