!!! 5
%html
  %head
    %title Admin

    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .wrapper
      .header
        .container
          .row
            .col-xs-12
              - if user_signed_in?
                %span.hidden-xs.pull-right
                  Logged in as:
                  %span.name
                    =current_user.email
      .main-menu
        .container
          .row
            %ul
              %li
                =link_to 'Site', root_path
              %li
                - if can? :create, User
                  =link_to 'Users', admin_users_path
              %li
                =link_to 'Articles', admin_articles_path
              %li
                =link_to 'Logout', destroy_user_session_path, method: :delete

      .content
        .container
          -if notice.present?
            .col-md-12.alert.alert-warning
              %button{ :type => "button", :class => "close", 'data-dismiss' => "alert"}
                %span{'aria-hidden' => "true"} ×
                %span{:class => "sr-only"}
                  Close
              = notice
          = yield

      .footer
