!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MicroBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      %header.site-header
        .main-menu
          .container
            .row
              %ul
                %li
                  = link_to 'Home', root_path
                %li
                  = link_to 'item#2', '#'
                %li
                  = link_to 'Admin panel', admin_path
        .site-container
      .site-main
        %div{class: 'content-block'}
          %div{class: 'container'}
            = yield
      %footer.site-footer
        .site-container
